*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a
{
    padding: 0 5px;

    text-decoration: none;

    color: #3d3d3d;
}
a:hover
{
    color: #188eee;
}

html,body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

body
{
    background: #fff;
}

.site-header
{
    height: 60px;
    padding: 10px 10%;

    border-bottom: 1px solid #e0e0e0;
    background: #f1f1f1;
}

.site-header a,
.site-header img
{
    float: left;

    padding: 0;

    border-radius: 100px;
}

.site-nav
{
    line-height: 60px;

    position: absolute;
    top: 0;
    right: 10%;
    font-size: 12px;
    text-align: right;
}

.site-footer
{
    line-height: 2em;

   // position: fixed;
    bottom: 0;
    left: 0;

    width: 100%;
    padding: 20px 10%;

    text-align: center;

    color: #999;
    border-top: 1px solid #e0e0e0;
    background: #444;
}
.site-footer a
{
    padding: 0 10px 0 0;

    color: #999;
}
.site-footer a:hover
{
    color: #188eee;
}
.site-footer a:before
{
    display: inline-block;

    height: 12px;
    padding-right: 10px;

    content: '';

    border-left: 1px solid #999;
}
.site-footer a:first-child:before
{
    display: none;
}

.logo h1{
    margin-left: 50px;
}

.logo:active , .logo:hover{
  color: #3d3d3d;
}


main {
    padding-top:20px;
    margin:0 auto;
    width : 1024px;
}

section {
    padding-top:30px;
    padding-left:15px;
    color:#3c3c3c;
}

section .img-wrap{
  text-align: center;
  padding-top:10px;
}

section img{
  width:90%;
}

section .sub_title{
    padding-top:30px;
    padding-left:20px;
}